body {
  background-color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto 3rem;
  border-bottom: 4px solid #04bec3;
}

main {
  max-width: 1400px;
  margin: auto;
}
