// Place all the styles related to the Policies contr oller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.policy-table {
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 2rem #ddd;
  text-align: left;
  margin-bottom: 2rem;
  border-collapse: collapse;

  thead th {
    padding: 1rem;
    border-bottom: 2px solid #04bec3;
  }

  tbody tr {
    &:hover {
      background-color: #82eff3;
    }
  }
  th,
  td {
    line-height: 1.5rem;
    padding: 1rem;
    border: 1px solid #04bec3;
  }
}
