// Place all the styles related to the policy_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-group {
  margin: 1rem 0;
}

.submit {
  background-color: #0ad4db;
  padding: 0.5rem;
  width: 12rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #04bec3;
  }
}
